chapter 02.파이썬의 기본 문법

In [1]:
# 예제 2-1
a= 20
b= 30
c= a+b
print(c)

50

In [2]:
#ex 2-2
x= 20
computer='mac'
Age= 30
my_score= 70
_name='홍길동'
myBirthYear=1997
data2= 20.3

print(x,computer,Age,my_score,_name,myBirthYear,data2)

20 mac 30 70 홍길동 1997 20.3

In [3]:
#ex2-4
x= 30
print(x)
print(type(x))

30
<class 'int'>

In [4]:
#ex 2-5
x= 3.3764
y= 6/2
print(x,y)
print(type(x),type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [5]:
#ex 2-6
a= 'x'
b= 'im am ok.'
c= "안녕하세요."

print(a)
print(b)
print(type(c))

x
im am ok.
<class 'str'>

In [6]:
#ex 2-7
a=30            #0001 1110
print(a)
print(type(a))

b='30'          #ASCII code(0*33,0*33),Human interaction
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [7]:
#ex2-8
x='i am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

i am happy!
i
i a
happy!
!
py!
pp

In [8]:
y='나는 행복합니다.'
print(y[:2])
print(y[3:-1])

start=3
print(y[start:start+2])

나는
행복합니다
행복

In [9]:
z='내 강아지 이름은 happy에요.'
print(z[2:5],z[10:15],z[-8:-3])

강아지 happy happy

In [10]:
#ex 2-9
a=True
b=False
print(a)
print(b)

c=10>20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [11]:
hello='안녕'*5

print(hello)

안녕안녕안녕안녕안녕

In [12]:
#ex 2-16
a= '쥐 구멍에 볕 들 날 있다.'
b=len(a)
print(b)

15

In [13]:
#ex2-17
name='홍지수'
greet=name+'님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [14]:
#ex2-18
eng=80
result='영어점수:'+eng+'점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [15]:
result='영어점수:'+str(eng)+'점'
print(result)

#(정수 실수 변수 또는 데이터)값->문자=str
#문자->값=int

영어점수:80점

In [16]:
#ex2-22
year=2020
month=3
day=5

a='%d-%02d-%02d'%(year,month,day)
print(a)

2020-03-05

In [17]:
height=172.5
a='키는 %.2f입니다.'%height
print(a)

키는 172.50입니다.

In [18]:
height=172.5
a='키는 %20.2f입니다.'%height                     #%().xf 가로안에 숫자를 놓으면 그수만큼 폭이 늘어난다
print(a)

키는               172.50입니다.

In [19]:
#ex 2-24
name='황예린'
age=18
eyesight=1.2

a='이름:{}'.format(name)
b='나이
c=

print(a)
print(b)
print(c)

SyntaxError: EOL while scanning string literal (<ipython-input-19-516233ff02e4>, line 7)

In [20]:
#문자열 메소드
x='i am happy!'
x.count('am')

1

In [21]:
x.find('happy')

5

In [22]:
x.lower()

'i am happy!'

In [23]:
x.replace('am','was')

'i was happy!'

In [24]:
x.split(' ')

['i', 'am', 'happy!']

In [25]:
x.isspace()                           # 문장의 공백이 포함=ture
                                        #안그러면 false

False

In [26]:
#ex2-27
score1=80
score2=87
sum=score1+score2
avg=sum/2
print('두 과목 점수:%d,%d'%(score1,score2))
print('합계:%d,평균:%.2f'%(sum,avg))

두 과목 점수:80,87
합계:167,평균:83.50

In [27]:
#sep end
print('오늘은')
year=2020
month=5
day=29
print(year,month,day)
print('입니다')

오늘은
2020 5 29
입니다

In [28]:
#dhsmfdms 2020/5/29입니다
print('오늘은',end=' ')
print(year,month,day,sep='/',end=' ')
print('입니다')

오늘은 2020/5/29 입니다

In [ ]:
#ex2-31
name=input('이름을 입력하세요:')
print('%s님 반갑습니다.'% name)

In [ ]:
a=input('first number> ')
b=input('second number> ')
print('sum= ',a+b)
a=int(input('first number> '))
b=int(input('second number> '))
print('sum= ', a=b)