In [2]:
import sqlite3

In [46]:
conn = sqlite3.connect('./sql_lite.db') ## 내가 저장해놓은 파일 찾기!

In [47]:
cur=conn.cursor()
cur.execute('SELECT * FROM fcbarcelona')
rows=cur.fetchall()

In [48]:
rows

[(1, 10, '메시', 'fw'),
 (2, 9, '루이스 수아레즈', 'fw'),
 (3, 17, '앙투안 그리즈만', 'fw'),
 (4, 5, '부스케츠', 'mf'),
 (5, 21, '데 용', 'mf'),
 (6, 22, '비 달', 'mf'),
 (7, 4, '라키티치', 'mf'),
 (8, 3, '피케', 'df'),
 (9, 18, '조르디 알바', 'df'),
 (10, 23, '움티티', 'df')]

In [51]:
cur.execute("SELECT *FROM  fcbarcelona WHERE position='fw'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 10, '메시', 'fw')
(2, 9, '루이스 수아레즈', 'fw')
(3, 17, '앙투안 그리즈만', 'fw')

## 데이터 추가!!

In [62]:
cur.execute("INSERT INTO fcbarcelona(back_no, name, position) VALUES(23, '멜루', 'mf')")

In [63]:
cur.execute("SELECT *FROM  fcbarcelona WHERE position='mf'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(4, 5, '부스케츠', 'mf')
(5, 21, '데 용', 'mf')
(6, 22, '비 달', 'mf')
(7, 4, '라키티치', 'mf')
(12, 23, '멜루', 'mf')

In [56]:
conn.commit()

In [64]:
back_no=16
name='와귀에'
position='df'
sql="INSERT INTO fcbarcelona(back_no, name, position) VALUES(?, ?, ?)"
cur.execute(sql, (back_no,name, position))
conn.commit()

In [65]:
players=[(40,'루니','fw'),(41,'지성','wing')]
for player in players:
    cur.execute(sql,player)
conn.commit()

In [68]:
players=[(42,'날두','st'),(42,'덕배','mf')]
cur.executemany(sql,players)
conn.commit()

# 데이터 조회

# 순회조회

In [72]:
sql="select * from fcbarcelona where position ='fw'"
cur.execute(sql)
for result in cur:
    print(result)

(1, 10, '메시', 'fw')
(2, 9, '루이스 수아레즈', 'fw')
(3, 17, '앙투안 그리즈만', 'fw')
(11, 10, '메시', 'fw')
(14, 40, '루니', 'fw')

In [74]:
#한건 조회***************************************************************
cur.execute(sql)
result=cur.fetchone()
print(result)

(1, 10, '메시', 'fw')

In [76]:

result=cur.fetchone()
print(result)

(2, 9, '루이스 수아레즈', 'fw')

In [88]:
#갯수 지정 조회

sql="select * from fcbarcelona where position ='fw'"
cur.execute(sql)
result=cur.fetchmany(3)
result

[(1, 10, '메시', 'fw'), (2, 9, '루이스 수아레즈', 'fw'), (3, 17, '앙투안 그리즈만', 'fw')]

In [89]:
result=cur.fetchall()
result

[(11, 10, '메시', 'fw'), (14, 40, '루니', 'fw')]

In [90]:


#전부조회*******************************************************************
sql="select * from fcbarcelona where position ='fw'"
cur.execute(sql)
result=cur.fetchall()
result

[(1, 10, '메시', 'fw'),
 (2, 9, '루이스 수아레즈', 'fw'),
 (3, 17, '앙투안 그리즈만', 'fw'),
 (11, 10, '메시', 'fw'),
 (14, 40, '루니', 'fw')]

# 한건 조회 fetchone

# 갯수 지정조회 fetchmany

# 전체 조회 fetchall

In [96]:
# 필요한 컬람만 조회

sql ="select back_no name from fcbarcelona where back_no > 20"
cur.execute(sql)
result=cur.fetchall()
result

[(21,), (22,), (23,), (23,), (40,), (41,), (42,), (42,)]

In [97]:
sql="select * from fcbarcelona where back_no between 20 and 29"
cur.execute(sql)
result=cur.fetchall()
result

[(5, 21, '데 용', 'mf'),
 (6, 22, '비 달', 'mf'),
 (10, 23, '움티티', 'df'),
 (12, 23, '멜루', 'mf')]

In [98]:
#백넘버가 가장큰 번호를 가지고 있는 선수?!?!?
sql="select * from fcbarcelona order by back_no desc limit 1"
cur.execute(sql)
result=cur.fetchone()
result

(16, 42, '날두', 'st')

In [99]:
#### 포지션별 사람수

sql="select position, count(*) from fcbarcelona group by position"
cur.execute(sql)
result=cur.fetchall()
result

[('df', 4), ('fw', 5), ('mf', 6), ('st', 1), ('wing', 1)]

In [102]:
#back_no 40인 선수?
back_no=40
sql="select * from fcbarcelona where back_no= ?"
cur.execute(sqlback_no)
result=cur.fetchone()
result

ValueError: parameters are of unsupported type

In [106]:
### 큐플로 만들어서 줘야합니다  ------------------->cur.execute(sql,(back_no,))




cur.execute(sql,(back_no,))
result=cur.fetchone()
result

(14, 40, '루니', 'fw')

## 데이터 변경

In [110]:
#id가 16인 날두의 포지션을 골보이로 변경
id=16
position='골보이'
sql="UPDATE fcbarcelona SET position = ? WHERE id = ?"
cur.execute(sql,(position,id))
conn.commit()

## 데이터  삭제

In [113]:
sql= "DELETE FROM fcbarcelona WHERE id = ?"
cur.execute(sql,(id_,'날두'))
conn.commit()

NameError: name 'id_' is not defined