chapter03 . 조건문 입니다 어렵네요 하하 :(

In [ ]:
#ex 3-1
x=int(input('숫자를 입력하세요 :'))
if x>0:
    print('양수')
else:
    print('0 또는 음수')

In [ ]:
x=int(input('숫자를 입력하세요 :'))
if x>0:
    print('양수')
else:
    if x<0: 
         print('음수')
    else:
             print('0')

In [ ]:
if x>50 and x<=70:

In [ ]:
#ex 3-4
score1=int(input('필기성적을 입력하세요 :'))
score2=int(input('실기성적을 입력하세요 :'))
if score1>=80 and score2>=80:
    print=('합격!')
else:
    print('불합격!')

In [ ]:
#ex 3-6
name=input('이름을 입력하세요 :')
if not name:
    print('이름이 입력되지 않았다:')
else:
    print('이름%s'%name)

In [ ]:
t=0.1                              #0, 00, none은 false,그외는 true....
if t:
    print('ture')
else:
    print('false')

In [ ]:
sum= 0
sum+= True
print(sum)

In [3]:
#ex 3-8
age=int(input('나이를 입력하세요 :'))
pay='3000원'
if age>=65 or age<7:
    pay='무료'
    print('입장료:%s'%pay)

나이를 입력하세요 :5
입장료:무료

In [5]:
#ex 3-8
age=int(input('나이를 입력하세요 :'))
pay='3000원'
if age>=65 or age<7:
    pay='무료'
    print('입장료:%s'%pay)

나이를 입력하세요 :5
입장료:무료

In [7]:
age=int(input('나이를 입력하세요 :'))
pay='3000원'
if age>=65 or age<7:
    pay='무료'
    
elif age <18:
    pay='무료'
else:
    pay= '공짜'

    print('입장료:%s'%pay)

나이를 입력하세요 :5

In [ ]:
#x3-10
score=int(input('점수를 입력하세요 :'))

if score>=90:
    grade='A'
elif score>=80:
    grade='B'
elif score>=70:
    grade='C'
elif score>=60:
    grade='D'
else:
    grade='F'
print('성적:%d점'%score)
print('등급:%s'%grade)

In [39]:
print("first", end=", "); print("second");print('third')

first, second
third

In [34]:
string="홀짝홀짝홀짝홀짝"

print(string[::-1])

짝홀짝홀짝홀짝홀

In [44]:
num_str="720"
int(num_str)

720

In [42]:
num=100
str(num)

'100'

In [63]:
a='500'
b='300'



int(a)+int(b)

800

In [65]:
list=[1,2,3]
for i in list:
    print('3 *',i, '=', 3 * i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [107]:
list = [3, -20, -3, 44]
print(list[1], list[2])

-20 -3

In [108]:
a = [3, -20, -3, 44]
for i in a:
    if i < 0:
        print(i)

-20
-3

In [ ]:
list = [3, -20, -3, 44]

for i in list[]