## .6튜플

# meun=()
# =tuple(range())  2가지 방법이 있다.

In [2]:
#01

menu=('coffee','milk','tea','cider')


print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1]='cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [21]:
#02

t1=('apple','banana','cherry')
t2=('orange','melon','starwberry')

t3=t1+t2
print(t3)

print(len(t3))

for x in t1:
    print(x)
del t1

('apple', 'banana', 'cherry', 'orange', 'melon', 'starwberry')
6
apple
banana
cherry

In [24]:
#3 tuple 만들기

odds=tuple(range(1,10,2))
print(odds)

(1, 3, 5, 7, 9)

In [25]:
odd_squares = tuple(i*i for i in range (1,10) if i % 2 ==1)
print(odd_squares)

(1, 9, 25, 49, 81)

t2=(3,4)
t2*3

In [ ]:
input().split()

10 20

In [2]:
print((1,2,3)+(10,20,30))
print('hello'+''+'world')

(1, 2, 3, 10, 20, 30)
helloworld

In [15]:
tuple(range(1,10))+tuple(range(10,20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [19]:
print((1,2,3)*3)
print(' python'*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
 python python python

In [26]:
list(range(1,5))*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
a=(11,22,33,44,55,66,77,88,99)
print(a[0:9:4])
print(a[::4])

(11, 55, 99)
(11, 55, 99)

## 딕 셔 너 리 두둥

In [33]:
members={'name':'안지영','age':30,'email':'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이:%d'%len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이:3

In [35]:
name='안지영'
scores ={'kor':95,'eng':85,'mate':90,'science':80}
print(scores)

scores['kor']=70
print(scores['kor'])

scores['music']=100
print(scores)

del scores['science']
print(scores)

{'kor': 95, 'eng': 85, 'mate': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'mate': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'mate': 90, 'music': 100}

In [39]:
phones={'갤럭시 노트8':2017,'갤럭시s9':22018,'갤럭시 노트10':2019,'갤럭시 s20':2020}
print(phones)

for key in phones:
    print('%s => %s'%(key, phones[key]))
    
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시s9': 22018, '갤럭시 노트10': 2019, '갤럭시 s20': 2020}
갤럭시 노트8 => 2017
갤럭시s9 => 22018
갤럭시 노트10 => 2019
갤럭시 s20 => 2020
4

In [42]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [44]:
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [46]:
# 키값이 있는지 확인

'health' in lux

True

# list   tuple   dict
# []            ( )     { }
# 리스트 안에 또 리스트 들어갈수있따 ex) [[],[]]
# 리스트 안에 dict들어 갈수있다 ex)   [{},{},{}]

In [47]:
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}