In [2]:
import numpy as np
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect('./singer.db') 
cur = conn.cursor()

In [6]:
cur.execute('CREATE TABLE IF NOT EXISTS Singers \
    (id INTEGER PRIMARY KEY, \
     name TEXT NOT NULL, \
     member_no INT, \
     debut TEXT, \
     company TEXT);')

# 국내의 대표적인 걸그룹 또는 보이그룹 5개 이상에 대하여 다음과 같은 정보를 갖는 테이블을 만드시오.
# *는 Primary Keyid(*), group_name, 구성원 수, 데뷔일자, 소속사

In [22]:
singers = pd.read_csv('./singers.csv', encoding='euc-kr')
singers

    name  member_no       debut company
0  방탄소년단          7  2013-06-13  빅히트 엔터
1    마마무          4  2014-06-19     RBW
2   우주소녀         13  2016-02-25  스타쉽 엔터
3    블락비          7  2011-04-15   KQ 엔터
4     엑소          9  2012-04-08   SM 엔터
5   트와이스          9  2015-10-20  JYP 엔터

 # 이들이 불렀던 노래 또는 다른 사람이 불렀던 노래 10곡 이상에 
 #  대하여 다음의 정보를 갖는 테이블을 만드시오.song_id(*), song_name, 그룹 id, 발표년도, 작곡가, 도입부 가사

In [14]:
cur = conn.cursor()
cur.execute('SELECT * FROM Singers')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '방탄소년단', 7, 1994, '빅히트 엔터')
(2, '마마무', 4, 1989, 'RBW')
(3, '우주소녀', 13, 1989, '스타쉽 엔터')
(4, '블락비', 7, 1992, 'KQ 엔터')
(5, '엑소', 9, 2000, 'SM 엔터')
(6, '트와이스', 9, 1985, 'JYP 엔터')

In [16]:
from dateutil.parser import parse
parse('2011-04-15').date()

datetime.date(2011, 4, 15)

In [17]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Songs \
    (id INTEGER PRIMARY KEY, \
     name TEXT NOT NULL, \
     gid INT NOT NULL, \
     year INT, \
     composer TEXT, \
     lyrics TEXT);')

In [23]:
songs = pd.read_csv('./songs.csv', encoding='euc-kr')
songs

,song,gid,year,composer,lyrics
0,작은 것들을 위한 시,1,2019,Pdogg 외,모든 게 궁금해 How’s your day
1,FAKE LOVE,1,2018,Pdogg 외,널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어
2,넌 is 뭔들,2,2016,김도훈 외,Hey 거기 미소가 예쁜 남자 바로 너
3,음오아예 (Um Oh Ah Yeh),2,2015,김도훈,oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아
4,HER,4,2014,지코 외,Jesus 무슨 말이 필요해 모두 널 작품이라고 불러
5,으르렁,5,2013,신혁 외,나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대
6,MAMA,5,2012,유영진,Careless careless Shoot anonymous anonymous
7,CHEER UP,6,2016,블랙아이드필승 외,CHEER UP BABY CHEER UP BABY 좀 더 힘을 내
8,TT,6,2016,블랙아이드필승 외,이런 내 맘 모르고 너무해 너무해
9,빨간 맛,11,2017,Ludwig Lindell 외,빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛


# 위 두개의 테이블을 조인한 결과를 가지고 다음의 필드를 갖는 데이터 프레임을 만드시
# 그룹 이름, 구성원 수, 데뷔 일자, 노래 이름, 발표 년도

In [24]:
conn = sqlite3.connect('./singer.db')

In [25]:
cur = conn.cursor()
cur.execute('SELECT * FROM singers')
rows = cur.fetchall()

In [27]:
rows

[(1, '방탄소년단', 7, 1994, '빅히트 엔터'),
 (2, '마마무', 4, 1989, 'RBW'),
 (3, '우주소녀', 13, 1989, '스타쉽 엔터'),
 (4, '블락비', 7, 1992, 'KQ 엔터'),
 (5, '엑소', 9, 2000, 'SM 엔터'),
 (6, '트와이스', 9, 1985, 'JYP 엔터')]

In [31]:
cur = conn.cursor()
cur.execute('SELECT singers.name, singers.member_no, singers.debut, \
            songs.song, songs.year FROM singers INNER JOIN songs\
            ON singers.id = songs.gid')
rows = cur.fetchall()
rows

[('방탄소년단', 7, 1994, '작은 것들을 위한 시', 2019),
 ('방탄소년단', 7, 1994, 'FAKE LOVE', 2018),
 ('마마무', 4, 1989, '넌 is 뭔들', 2016),
 ('마마무', 4, 1989, '음오아예 (Um Oh Ah Yeh)', 2015),
 ('블락비', 7, 1992, 'HER', 2014),
 ('엑소', 9, 2000, '으르렁', 2013),
 ('엑소', 9, 2000, 'MAMA', 2012),
 ('트와이스', 9, 1985, 'CHEER UP', 2016),
 ('트와이스', 9, 1985, 'TT', 2016)]

In [34]:
cur = conn.cursor()
cur.execute('SELECT * FROM Songs')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '작은 것들을 위한 시', 1, 2019, 'Pdogg 외', '모든 게 궁금해 How’s your day')
(2, 'FAKE LOVE', 1, 2018, 'Pdogg 외', '널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어')
(3, '넌 is 뭔들', 2, 2016, '김도훈 외', 'Hey 거기 미소가 예쁜 남자 바로 너')
(4, '음오아예 (Um Oh Ah Yeh)', 2, 2015, '김도훈', 'oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아')
(5, 'HER', 4, 2014, '지코 외', 'Jesus 무슨 말이 필요해 모두 널 작품이라고 불러')
(6, '으르렁', 5, 2013, '신혁 외', '나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대')
(8, 'MAMA', 5, 2012, '유영진', 'Careless careless Shoot anonymous anonymous')
(9, 'CHEER UP', 6, 2016, '블랙아이드필승 외', 'CHEER UP BABY CHEER UP BABY 좀 더 힘을 내')
(10, 'TT', 6, 2016, '블랙아이드필승 외', '이런 내 맘 모르고 너무해 너무해')
(11, '빨간 맛', 11, 2017, 'Ludwig Lindell 외', '빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛')

In [48]:
df = df.rename({0:'그룹 이름', 1:'구성원 수', 2:'데뷔 일자', 3:'노래 이름', 4:'발표 년도'},
               axis = 1)
df

,그룹 이름,구성원 수,데뷔 일자,노래 이름,발표 년도,5
0,1,작은 것들을 위한 시,1,2019,Pdogg 외,모든 게 궁금해 How’s your day
1,2,FAKE LOVE,1,2018,Pdogg 외,널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어
2,3,넌 is 뭔들,2,2016,김도훈 외,Hey 거기 미소가 예쁜 남자 바로 너
3,4,음오아예 (Um Oh Ah Yeh),2,2015,김도훈,oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아
4,5,HER,4,2014,지코 외,Jesus 무슨 말이 필요해 모두 널 작품이라고 불러
5,6,으르렁,5,2013,신혁 외,나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대
6,8,MAMA,5,2012,유영진,Careless careless Shoot anonymous anonymous
7,9,CHEER UP,6,2016,블랙아이드필승 외,CHEER UP BABY CHEER UP BABY 좀 더 힘을 내
8,10,TT,6,2016,블랙아이드필승 외,이런 내 맘 모르고 너무해 너무해
9,11,빨간 맛,11,2017,Ludwig Lindell 외,빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛